* {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item1 {
    border: 1px dotted blue;
    padding: 10px;
    margin: 10px;
    height: 200px;
}
.item2  {
    border: 1px dotted blue;
    padding: 10px;
    margin: 10px;
    height: 300px;
}
.item3 {
    border: 1px dotted blue;
    padding: 10px;
    margin: 10px;
    height: 250px;
}
.item4 {
    border: 1px dotted blue;
    padding: 10px;
    margin: 10px;
    height: 150px;
}
.item5 {
    border: 1px dotted blue;
    padding: 10px;
    margin: 10px;
    height: 350px;
}
