body {
    background-color: seashell;
}

h1 {
    color: brown;
}

#contenedor {
    padding: 10px;
    margin: 10px;
}

#contenedor div {
    width: 300px;
    float: left;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#contenedor h1 {
    width: auto;
    text-align: center;
}