/* Selector Universal */
* {
    font-size: 24px;
}

/* Selector HTML */
h1 {
    font-size: 36px;
    color:darkblue;
}

/* Selector de clase */
.boton {
    border: 1px;
    color: red;
}
.perfil {
    width: 300px;
}

/* Agrupacion de selectores */
h2, h3 {
    color: brown;
    font-stretch: condensed;
}

/* Selectores descendientes */
dl dt {
    color: chartreuse;
}

dl dt strong {
    color: darkgoldenrod;
}