* {
    margin: 0px;
}

.container {
    display: grid;
    /* filas / columnas */
    grid-template: 1fr 1fr 1fr / repeat(5, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: dodgerblue;
    padding: 10px;
    border: 1px solid black;
}